* {
    margin: 0;
    padding: 0;
}

html, body, .container, .scene, .bg {
    width: 100%;
    height: 100%;
    background-size: cover;
}

#loading {
    display: flex; 
    align-items: center; 
    background-color: #d9cea5;
}

#loading img {
    width: 100%;
}

.bg {
    position: fixed;
    left: 0;
    top: 0;
}

#animation7 {
    top: 0; 
    left: 0;
}

#animation10 {
    bottom: 0; 
    left: 5%;
}

#animation9, #animation13, #animation22 {
    width: 100%; 
    height: 30%; 
    position: fixed; 
    top: 45%; 
    left: 0; 
    text-align: center;
}

#animation5 {
    width: 0%; 
    height: 35%; 
    border-bottom: 1px solid #000; 
    box-shadow: 0 1px 0; 
    position: fixed; 
    top: 0; 
    left: 0;
}

#animation6 {
    width: 97%; 
    height: 0%; 
    border-right: 1px solid #000;
    box-shadow: 1px 0 0; 
    position: fixed; 
    top: 30%; 
    left: 0;
}

#animation11 {
    width: 100%; 
    height: 35%; 
    position: fixed; top: 0; 
    left: 0; transform: rotateX(90deg); 
    transform-origin: top;
}

#animation14, #animation15 {
    width: 50%; 
    height: 45%; 
    position: fixed; 
    bottom: 0; 
}

#animation16 {
    width: 95%; 
    height: 34%; 
    position: fixed; 
    top: 0; 
    left: 0; 
    transform: rotateX(90deg); 
    transform-origin: top;
}

#animation14 {
    left: 0;
}

#animation15 {
    right: 0;
}

#animation20, #animation21 {
    width: 42%;
    height: 39%; 
    position: fixed; 
    bottom: 0; 
}

#animation20 {
    right: 42%; 
    transform: rotateX(90deg); 
    transform-origin: top;
}

#animation21 {
    right: 0; 
    transform: rotateY(90deg);
    transform-origin: left;
}

#animation17 {
    width: 3%; 
    height: 37%; 
    box-shadow: 1px 0 0;  
    top: 0; 
    border-right: 1px solid #000;
}

#animation18 {
    width: 98%;
    height: 35%;
    box-shadow: 0 1px 0;
    top: 0; 
    border-bottom: 1px solid #000;
}

#animation19 {
    width: 97%; 
    height: 0; 
    box-shadow: 1px 0 0; 
    top: 33%; 
    border-right: 1px solid #000;
}

#animation17, #animation18, #animation19 {
    position: fixed;
    left: 0;
}

#animation26 {
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, .6); 
    position: fixed; 
    top: 0; 
    left: 0;
}

#animation24 {
    width: 60%; 
    margin-left: 16%;
}

#animation25 {
    width: 85%;
    margin-left: 7.5%;
    margin-top: -4%;
}

#animation27 {
    width: 15%; 
    position: relative; 
    top: -34%; 
    left: 42.5%;
}

#animation28 img {
    margin-top: 15%;
}

#animation29 {
    width: 100%; 
    height: 15%; 
    position: fixed; 
    top: 85%; 
    left: 0; 
    text-align: center;
}

#animation29 h5 {
    color: #fff;
}

#animation33 {
    width: 100%; 
    height: 30%; 
    position: fixed; 
    top: 65%; 
    text-align: center;
}

#animation33 h5 {
    margin-top: 5px;
}

.arrow {
    width: 10%;
    height: 40px; 
    position: fixed; 
    bottom: 10%; 
    left: 45%;
}

#animation9 span, #animation13 span, #animation22 span {
    font-size: 10px;
}

#scene-one img, #animation8 img, #animation12 img, #animation23 img, #animation28 img, #scene-six img, #bg-pic img {
    width: 100%; 
    height: 100%;
}

#animation7, #animation10 {
    position: fixed; 
    width: 95%;
    height: 34%; 
    height: 34%; 
}

#animation1, #animation2, #animation3, #animation7, #animation8, #animation9, #animation10, #animation12, #animation13, #animation14, #animation15, #animation17, #animation18, #animation22, #animation23, #animation26, #animation27, #animation28, #animation29, #animation30, #animation31, #animation33 {
    opacity: 0;
}